<div class="text-center d-flex flex-column gap-5 m-5 align-items-center">
  <h1 class="text-black-50 text-uppercase fw-normal display-1 flex-grow-1">
    About Me
  </h1>
  <div class="px-5 text-start d-flex flex-column gap-2 w-75">
    <p class="h5 fw-light">
      I'm Mostafa Kareem, an enthusiastic Angular developer with a Bachelor's
      degree in Computer Engineering. My journey in the tech world began with a
      passion for creating intuitive and dynamic user interfaces, which led me
      to specialize in Angular. Over the years, I've honed my skills in
      developing robust, scalable, and high-performance web applications.
    </p>
    <p class="h5 fw-light">
      My background in computer engineering has provided me with a strong
      foundation in software development principles and problem-solving
      techniques. This, combined with my hands-on experience in Angular, allows
      me to deliver top-notch solutions that meet and exceed client
      expectations.
    </p>
    <p class="h5 fw-light">
      I am proficient in various front-end technologies, including HTML, CSS,
      JavaScript, and TypeScript, and I am well-versed in using Angular to
      create responsive and user-friendly applications. My projects often
      involve integrating APIs, optimizing performance, and ensuring the best
      user experience.
    </p>
    <button class="btn btn-dark py-2 w-50 align-self-center mt-5">
      Download Resume
    </button>
  </div>
</div>
