<div
  class="text-dark w-100 d-flex flex-column gap-5 align-items-center"
  style="height: 100vh"
>
  <h1 class="display-1 text-center p-5 pb-3">Portfolio</h1>
  <div class="d-flex flex-wrap w-75 justify-content-center">
    <app-portfolio-card
      ProjectName="First Project"
      bgOpacity="bg-opacity-25"
    ></app-portfolio-card>
    <app-portfolio-card ProjectName="Second Project"></app-portfolio-card>
    <app-portfolio-card
      ProjectName="Third Project"
      bgOpacity="bg-opacity-25"
    ></app-portfolio-card>
    <app-portfolio-card ProjectName="Fourth Project"></app-portfolio-card>
    <app-portfolio-card
      ProjectName="Fifth Project"
      bgOpacity="bg-opacity-25"
    ></app-portfolio-card>
    <app-portfolio-card ProjectName="Last Project"></app-portfolio-card>
  </div>
</div>
