<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<style>
  a {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
  }
  a span:hover {
    text-decoration: underline;
  }
  i {
    font-size: 20px;
  }
</style>

<div class="bg-black d-flex align-items-center justify-content-between p-5">
  <div class="d-flex flex-column gap-3" id="footerLeft">
    <a href="tel:+201120450302">
      <i class="bx bxs-phone" style="color: #ffffff"></i
      ><span>01120450302</span></a
    >
    <a href="mailto:mostafa.kareem1000@gmail.com"
      ><i class="bx bxl-gmail" style="color: #ffffff"></i
      ><span>Mostafa.kareem1000&#64;gmail.com</span></a
    >
    <a href="#"
      ><i class="bx bx-link-alt" style="color: #ffffff"></i
      ><span>Portfolio Page</span></a
    >
  </div>
  <div id="footerCenter">
    <button class="btn btn-dark border text-light px-4 py-2">
      <a href="#">Back to the Top</a>
    </button>
  </div>
  <div class="d-flex flex-column gap-4" id="MediaLinks">
    <a href="https://github.com/M0stafaKareem"
      ><i class="bx bxl-github" style="color: #ffffff; font-size: 30px"></i
    ></a>
    <a href="https://www.linkedin.com/in/mostafa-kareem-66b52a224/"
      ><i
        class="bx bxl-linkedin-square"
        style="color: #ffffff; font-size: 30px"
      ></i
    ></a>
    <a href="https://www.facebook.com/profile.php?id=100009128901632"
      ><i class="bx bxl-facebook" style="color: #ffffff; font-size: 30px"></i
    ></a>
  </div>
</div>
